network = "${ network }"
lease_name = "balius-chainsync-lease-${ network }"

[rpc]
listen_address = "0.0.0.0:${ container_port }"

[ledger]
endpoint_url = "${ utxorpc_url }"

[chainsync]
endpoint_url = "${ utxorpc_url }"
