network = "${ network }"
shard = "balius-${ network }"
prometheus_addr = "0.0.0.0:${ prometheus_port }"

[rpc]
listen_address = "0.0.0.0:${ container_port }"

[ledger]
endpoint_url = "${ utxorpc_url }"

[chainsync]
endpoint_url = "${ utxorpc_url }"
